/* _content/CompanyApp.Component.Mining.Monitoring/Component1.razor.rz.scp.css */
.my-component[b-7wmlp7da23] {
    border: 2px dashed red;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}
